
target/
dbt_packages/
logs/
dbt/profiles.yml
.dbt/


__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.tmp
*.log
.env
venv/
.venv/


airflow.cfg
airflow.db
logs/
webserver_config.py
unittests.cfg

# Airflow local settings
.local_settings.py


*.pid
*.sock
*.db
docker-compose.override.yml


.DS_Store
Thumbs.db
.vscode/
.idea/


secrets.yml
profiles.yml